#PORTIFOLIO{
    min-height: 100vh;
}

.producoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: wrap;
}

.producoes .content{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 50%;
    
}
.producoes img{
    filter: blur(10px) opacity(0.99) drop-shadow(0 0 0 #8000a0);
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.producoes img:hover{
    filter: blur(0);
}

.text-container{
    position: absolute;
    color: #fff;
    margin-left: 25%;
    opacity: 0.0;
    width: 100%;
}
.text-container a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #564fcc;
}
.text-container h1{
    overflow-y: hidden;
    color: #564fcc;
    font-weight: 800;
}

.text-container:hover{
    opacity: 1;
}

.text-container a:hover{
    color:#6c63ff;
}

