.card-container{
    width:95%;
    margin:7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width:20rem;
    height:30rem;
    background-color: #fff;
    padding: 1rem;
    margin:2rem;
    text-align: center;
}
.card img{
    object-fit: cover;
    width: 80%;
    align-self: center;
}

.content h3{
    margin-top:5%;
    overflow-y:hidden;
    font-family: 'Ubuntu', sans-serif;
}

.card p{
    margin-top: 10%;
    font-size:22px;
    font-family: 'Oswald', sans-serif;
}