#CONTATOS{
    background: linear-gradient(180deg,#564fcc, #8000a0);
}
#CONTATOS h2{
    font-family: 'Oswald', sans-serif;
    overflow-y: hidden;
    font-size: 3rem;
    color:#fff;
    border-bottom: 1px solid;
}
.mb-3{
    width:60%;
    font-size: 2rem;
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
}